<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <h3 href="/project/{{project.id}}">{{project.name}}</h3>
    </h2>
    <p>
    
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      Calories Needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
   <h3 class="goal-color">Goal</h3> <!-- Added title here -->
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}
