

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create Meal Plan:</h3>

    {{!-- <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  <form class="form new-meal-form">
      <div class="form-group">
        <label for="project-name">Meal Name:</label>
        <input class="form-input" type="text" id="meal-name" name="meal-name" />
      </div>
      <div class="form-group">
        {{!-- <label for="meal-plan">Day of the Week</label> --}}
        <label for="day-of-week">Select a Day of the Week:</label>
          <select class="form-input" id="day-of-week" name="day-of-week">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
          </select>
        {{!-- <input class="form-input" type="number" id="meal-plan" name="meal-plan" /> --}}
      </div>
      <div class="form-group">
        <label for="project-desc">Recipe:</label>
        <textarea class="form-input" id="meal-desc" name="meal-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

{{#if meal_plans.length}}
  <div class="col-md-6 meal-plan-list">
    <h3>Current Meal Plans:</h3>

    {{#each meal_plans as |meal_plan|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/meal_plan/{{meal_plan.id}}">{{meal_plan.name}}</a></h4>
        <p>Day: {{meal_plan.day_of_week}}</p>
        <p>Recipe: {{meal_plan.recipe}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{meal_plan.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}}

<script src="./js/profile.js"></script>


