<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Planner</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<div class="row">
    <div class="card large">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{meal_name}}</span>
          <p>{{{get_emoji}}}</p>
          <h3>Recipe:</h2>
          <p>{{recipe}}</p>
          <p>Created by {{user.name}} on {{format_date date_created}}</p>
          <p>
            <span for="img" aria-label="money">🌮</span>
            <span class="dollar-amount">{{day_of_week}}</span>
          </p>
          <p>
            <button class="btn btn-primary">Make this for dinner tonight!</button>
          </p>        
        </div>
      </div>
    </div>
  </div>

